<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="card">
  <div class="border-image">
    <img class="avatar-image" src="image.jpg" alt="Avatar" />
  </div>
  <h1 class="title-name">Phan Huu Quang</h1>
  <div class="text-typing">
    <p class="title-role">Front-end Developer</p>
  </div>
  <p class="title-university">Quy Nhon University</p>
  <div class="social-links">
    <a href="https://www.instagram.com/qg.13h.02p/" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="https://x.com/i/flow/login" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://github.com/PhanHuuQuang" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://www.facebook.com/quang.phan.756859" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
  </div>

  <p>
    <button *ngIf="!openDetailInforState" (click)="clickDetailInformation()">
      Detail Information
    </button>
    <button *ngIf="openDetailInforState" (click)="closeDetailInformation()">
      Close
    </button>
  </p>

  <p><button (click)="clickMore()">More...</button></p>
</div>
