<section class="about-container">
  <section class="split left">
    <div class="about-image-container">
      <img class="about-image" src="working-man.jpg" alt="About image" />
    </div>
  </section>
  <section class="split right">
    <div class="about-param-container">
      <p class="about-title">About</p>
      <h1 class="about-text">About Me?</h1>
      <p class="about-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo
        laboriosam voluptatum quos repellendus officiis fugiat ut nostrum
        dolorum, dolore voluptate aperiam alias temporibus illum quo nisi,
        corrupti cumque et! Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Illo recusandae expedita saepe ipsam, totam illum? A, illo
        laudantium. Sint, autem omnis maiores eius reprehenderit totam quo quod
        qui harum. Molestias.
      </p>
    </div>
  </section>
</section>
