<section class="projects-container">
  <p class="projects-title">Projects</p>
  <h1 class="projects-text">What i have made?</h1>
  <section class="projects-list">
    <div class="project-item">
      <img class="project-image" src="project.jpg" alt="project image" />
      <p class="project-name">Project Name</p>
      <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <div class="project-link-list">
        <a class="project-link" href="#">Github</a>
        <a class="project-link" href="#">Live view</a>
      </div>
    </div>
    <div class="project-item">
      <img class="project-image" src="project.jpg" alt="project image" />
      <p class="project-name">Project Name</p>
      <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <div class="project-link-list">
        <a class="project-link" href="#">Github</a>
        <a class="project-link" href="#">Live view</a>
      </div>
    </div>
    <div class="project-item">
      <img class="project-image" src="project.jpg" alt="project image" />
      <p class="project-name">Project Name</p>
      <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <div class="project-link-list">
        <a class="project-link" href="#">Github</a>
        <a class="project-link" href="#">Live view</a>
      </div>
    </div>
  </section>
</section>
