<section class="home-container">
  <section class="split left">
    <div class="home-welcome-params">
      <p class="welcome-param">Hi Everyone, I am</p>
      <h1 class="my-name">Phan Huu Quang</h1>
      <p class="welcome-description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed
        blanditiis, amet nobis unde obcaecati repellat quos consectetur tempore
        delectus repudiandae tempora minima, minus quae animi fugiat optio ut,
        officiis ipsam?
      </p>
      <div class="home-welcome-buttons">
        <button class="btn-download" (click)="clickDownloadMyCV()">
          Download CV
          <fa-icon [icon]="'cloud-arrow-down'" />
        </button>
        <button class="btn-explore" (click)="clickExploreMore()">
          Explore More
          <fa-icon [icon]="'circle-info'" />
        </button>
      </div>
    </div>
  </section>
  <section class="split right">
    <div class="home-avatar">
      <img class="avatar" src="image.jpg" alt="avatar" />
    </div>
  </section>
</section>
